@media (--small-viewport) {
	.wi-front-page-loop-slider .wi-loop-slider-pagination {
	  position: absolute;
	  top: var(--wp--preset--spacing--60);
	  right: var(--wp--preset--spacing--30);
	  height: calc(var(--wp--preset--font-size--xx-large) * 1.2);
	}
  }
