.wi-front-page-loop-more-posts .wi-loop-more-posts-pagination {
	margin-top: var(--wp--preset--spacing--60);
}

@media (--small-viewport) {
	.wi-front-page-loop-more-posts .wi-loop-more-posts-pagination {
	  position: absolute;
	  top: 0;
	  right: var(--wp--preset--spacing--30);
	  height: calc(var(--wp--preset--font-size--xx-large) * 1.2);
	}
  }
