.wi-front-page-main {
	height: calc(
		100vh - var(--wp-admin--admin-bar--height, 0px) -
			var(--wp--custom--front-page--mobile-header-height, 0px) - 1px
	);
	counter-reset: front-page-section;
}

.wi-front-page-main-content {
	/* scroll-behavior: smooth; */
	scroll-snap-type: y proximity;
	height: 100%;
	overflow-y: auto;
}

@media (--huge-viewport) {
	.wi-front-page-main {
		height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
	}

	.wi-front-page-main-content {
		scroll-padding-top: var(--wp-admin--admin-bar--height, 0);
	}
}

@media (prefers-reduced-motion) {
	.wi-front-page-main-content {
		scroll-snap-type: none;
		scroll-behavior: auto;
	}
}
