.wi-front-page-main {
	height: calc(
		100vh - var(--wp-admin--admin-bar--height, 0px) -
			var(--wp--custom--front-page--mobile-header-height, 0px) - 1px
	);
	height: calc(
		100dvh - var(--wp-admin--admin-bar--height, 0px) -
			var(--wp--custom--front-page--mobile-header-height, 0px) - 1px
	);
	counter-reset: front-page-section;
}

.wi-front-page-main__content {
	height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
}

@media (--huge-viewport) {
	.wi-front-page-main {
		height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
		padding-left: calc(var(--wp--custom--front-page--full-header-width) + 1px);
	}
}

@media (--front-page-snap) {
	.wi-front-page-main__content {
		scroll-snap-type: y proximity;
	}
}

@media (prefers-reduced-motion) {
	.wi-front-page-main__content {
		scroll-snap-type: none;
		scroll-behavior: auto;
	}
}
