# https://php.watch/articles/composer-gitattributes

# Exclude build/test files from archive
/.github          export-ignore
/.phive           export-ignore
/.psalm           export-ignore
# /build            export-ignore
/docs             export-ignore
/examples         export-ignore
/phpstan          export-ignore
/tests            export-ignore
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.php_cs          export-ignore
/.php_cs.dist     export-ignore
/.travis.yml      export-ignore
/phpunit.xml      export-ignore
/phpunit.xml.dist export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff

# Docker-related files
/.dockerignore        export-ignore
/docker-compose.yaml  export-ignore
/docker-entrypoint.sh export-ignore
/Dockerfile           export-ignore

# Source/config files
/assets/css        export-ignore
/assets/scripts    export-ignore
/blocks            export-ignore
/.editorconfig     export-ignore
/.env.sample       export-ignore
/.*rc.json         export-ignore
/.prettierignore   export-ignore
/.yarnrc.yml       export-ignore
/package.json      export-ignore
/phpcs.xml         export-ignore
/tsconfig.json     export-ignore
/webpack.config.js export-ignore
/yarn.lock         export-ignore
