<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"},"metadata":{"name":"Sticky Header"}} -->
<header class="wp-block-group">
	<!-- wp:template-part {"slug":"header-default","theme":"wi-sonx-fse","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"metadata":{"name":"Main"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug": "wi-sonx-fse/post-default"} /-->
	<!-- wp:pattern {"slug": "wi-sonx-fse/post-comments-default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","theme":"wi-sonx-fse","tagName":"footer","className":"footer-default"} /-->
