table {
	border-collapse: collapse;
    width: 100%;
}

th {
	text-align: left;
	color: var(--wp--preset--color--contrast);
}

th, td {
	border: 1px solid var(--wp--preset--color--contrast-3);
    padding: var(--wp--preset--spacing--20);
}
