@media (--below-small) {

	/* Force logo size and bigger font/smaller spacing on 'mobile' screens. */

	.wi-header {
		padding-block: var(--wp--preset--spacing--30) !important;
		font-size: var(--wp--preset--font-size--x-large);

		.wp-block-site-logo img {
			width: var(--wp--preset--font-size--xx-large);
		}
	}
}

@keyframes shrink {
	from {
		background-color: transparent;
	}

	50% {
		background-color: var(--wp--preset--color--base);
	}

	to {
		padding-block: var(--wp--preset--spacing--30);
		background-color: var(--wp--preset--color--base);
	}
}

.wi-header {
	/* stylelint-disable property-no-unknown */

	animation-timeline: scroll(block root);
	animation-range: 0 200px;

	/* stylelint-enable property-no-unknown */

	animation-name: shrink;
	animation-duration: 1ms;
	animation-fill-mode: forwards;
}
