.wi-loop-post-preview {
	.wp-block-post-title a {
		text-decoration: none;
	}

	/* stylelint-disable selector-class-pattern */

	.wp-block-post-terms__prefix {
		margin-right: var(--wp--preset--spacing--10);
		color: var(--wp--preset--color--primary);
		font-weight: 700;
	}

	/* stylelint-enable selector-class-pattern */
}

.wi-loop-post-preview-image {
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 1;

	&::before {
		content: counter(list-item, japanese-formal);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		font-size: 9em;
		font-weight: 700;
		color: var(--wp--preset--color--base);
	}

	&:has(.wp-block-post-featured-image) {
		&::before {
			display: none;
		}
	}

	.wp-block-post-date {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.wp-block-post-featured-image,
	.wp-block-post-featured-image a {
		display: flex;
		flex-direction: column;
	}

	.wp-block-post-featured-image a,
	.wp-block-post-featured-image img {
		flex: 1 1 auto;
	}
}

.wi-loop-post-preview-comments {
	> svg {
		width: 1em;
		height: 1em;
		fill: var(--wp--preset--color--primary);
	}
}
