.wi-loop-post-preview-service {
	position: relative;
	transform-origin: 50% 50%;
	transform: scale(1);
	transition:
		background-color var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function),
		color var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function),
		transform var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function);
	will-change: background-color, color, transform;

	.wp-block-post-title a {
		text-decoration: none;
	}

	.wp-block-post-excerpt {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--wp--preset--spacing--60);
	}

	/* stylelint-disable selector-class-pattern */

	.wp-block-post-excerpt__more-text {
		display: grid;
		grid-template-columns: 1em 1fr;
		grid-template-rows: auto;
		align-items: center;
		gap: var(--wp--preset--spacing--40);
		font-size: var(--wp--preset--font-size--medium);

		&::before,
		&::after {
			content: "";
			display: block;
			border: 1px solid currentcolor;
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
			justify-self: center;
			align-self: center;
		}

		&::before {
			height: 1em;
			width: 0;
		}

		&::after {
			height: 0;
			width: 1em;
		}
	}

	.wp-block-post-excerpt__more-link {
		display: block;
		padding-left: calc(1em + var(--wp--preset--spacing--40));
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		font-weight: 700;
		color: var(--wp--preset--color--contrast);
		text-decoration: none;
		opacity: 0;
		transition: opacity var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function);
		will-change: opacity;

		&:hover {
			opacity: 1;
		}
	}

	/* stylelint-enable selector-class-pattern */
}

.wi-loop-post-preview-service-icon {
	position: relative;
	aspect-ratio: 1;
	transition:
		background-color var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function),
		color var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function);
	will-change: background-color, color;

	&::before {
		content: counter(list-item, lower-greek);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		overflow: hidden;
		font-size: 5em;
		font-weight: 700;
		color: currentcolor;
	}

	&:has(.wp-block-post-featured-image) {
		&::before {
			display: none;
		}
	}
}

.is-active > .wi-loop-post-preview-service {
	background-color: var(--wp--preset--color--primary) !important;
	color: var(--wp--preset--color--contrast) !important;
	z-index: 1;

	.wi-loop-post-preview-service-icon {
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--primary) !important;
	}

	/* stylelint-disable selector-class-pattern */

	.wp-block-post-excerpt__more-link {
		opacity: 1;
	}

	/* stylelint-enable selector-class-pattern */
}

@media (--large-viewport) {
	.is-active > .wi-loop-post-preview-service {
		transform: scale(1.1);
	}
}
