@import "../../css/tools/custom-media.css";

.wp-block-wi-sonx-fse-front-page-section {
	position: relative;
	min-height: 100%;
	scroll-snap-align: start;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.wp-block-wi-sonx-fse-front-page-section-content {
	flex: 1 0 auto;
	width: 100%;
	margin: 0 auto;
}

@media (--wide-viewport) {

	.wp-block-wi-sonx-fse-front-page-section-content {
		max-width: calc(var(--wp--style--global--wide-size) + var(--wp--style--root--padding-right) + var(--wp--style--root--padding-left));
	}
}

@media (--front-page-cover) {

	.wp-block-wi-sonx-fse-front-page-section {
		position: sticky;
		top: 0;
	}
}
