@import "../../assets/css/tools/custom-media.css";

.wp-block-wi-sonx-fse-front-page-section {
	position: relative;
	min-height: 100%;
	display: flex;
	justify-content: stretch;
	align-items: stretch;

	&[data-wp-init] {
		counter-increment: front-page-section;
	}
}

.wp-block-wi-sonx-fse-front-page-section__content {
	flex: 1 0 auto;
	width: 100%;
	margin: 0 auto;

	> :first-child {
		position: relative;
	}
}

.wp-block-wi-sonx-fse-front-page-section[data-wp-init]
	.wp-block-wi-sonx-fse-front-page-section__content {
	&::before {
		content: counter(front-page-section, decimal-leading-zero);
		display: block;
		height: 0;
		font-size: calc(var(--wp--preset--font-size--huge) * 1.5);
		line-height: 1;
		letter-spacing: 0.1em;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.1);
		color: color-mix(in srgb, var(--wp--preset--color--contrast), transparent 90%);
		color: var(--wp--preset--color--base-2);
	}
}

@media (--huge-viewport) {
	.wp-block-wi-sonx-fse-front-page-section__content {
		max-width: calc(
			var(--wp--style--global--wide-size) +
				var(--wp--style--root--padding-right) +
				var(--wp--style--root--padding-left)
		);
	}

	.wp-block-wi-sonx-fse-front-page-section[data-wp-init]
		.wp-block-wi-sonx-fse-front-page-section__content::before {
		transform: translateY(calc(-0.5 * var(--wp--preset--spacing--60)));
	}
}

@media (--front-page-snap) {
	.wp-block-wi-sonx-fse-front-page-section {
		scroll-snap-align: start;
	}
}
