.wi-home-section {
	height: 100%;
	min-height: max-content;
	scroll-snap-align: start;
}

.wi-home-section-content {
	width: 100%;
}

@media (--wide-viewport) {

	.wi-home-section-content {
		width: calc(var(--wp--style--global--wide-size) + var(--wp--style--root--padding-right) + var(--wp--style--root--padding-left));
	}
}
