@import "../../assets/css/tools/custom-media.css";

.wp-block-wi-sonx-fse-front-page-toc {
	--wi--front-page-toc--bg-hover: var(--wp--preset--color--accent);

	height: 100%;
}

.wp-block-wi-sonx-fse-front-page-toc__button {
	display: none;
}

.wp-block-wi-sonx-fse-front-page-toc__list {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0;
	padding: 0;
	gap: var(--wp--preset--spacing--10);
	list-style: none;
}

.wp-block-wi-sonx-fse-front-page-toc__item {
	&:nth-child(odd) {
		align-self: flex-start;
	}

	&:nth-child(even) {
		align-self: flex-end;
	}
}

.wp-block-wi-sonx-fse-front-page-toc__label {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	z-index: 1;
	width: 1px;
	word-wrap: normal;
}

.wp-block-wi-sonx-fse-front-page-toc__link {
	position: relative;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.05em;
	font-size: 1rem;
	line-height: 1.5;
	width: 1.5rem;
	height: 1.5rem;

	&::before {
		content: counter(list-item, decimal-leading-zero);
		position: absolute;
		inset: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		transform-origin: 50% 50%;
		transform: scale(1);
		transition: transform var(--wp--custom--transition--duration)
			var(--wp--custom--transition--timing-function);
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 0;
		width: 4rem;
		height: 4rem;
		margin: -2rem;
		border-radius: 9999px;
		background-color: var(--wi--front-page-toc--bg-hover);
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(0);
		transition:
			transform var(--wp--custom--transition--duration)
				var(--wp--custom--transition--timing-function),
			opacity var(--wp--custom--transition--duration)
				var(--wp--custom--transition--timing-function);
	}

	&:hover {
		&::before {
			transform: scale(1.1);
		}

		&::after {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@media (--small-viewport) {
	.wp-block-wi-sonx-fse-front-page-toc__list {
		gap: var(--wp--preset--spacing--30);
	}
}

@media (--medium-viewport) {
	.wp-block-wi-sonx-fse-front-page-toc__list {
		gap: var(--wp--preset--spacing--40);
	}
}

@media (--huge-viewport) {
	.wp-block-wi-sonx-fse-front-page-toc {
		height: auto;
		width: 100%;
	}

	.wp-block-wi-sonx-fse-front-page-toc__list {
		flex-direction: column;
		height: auto;
		width: 100%;
		gap: var(--wp--preset--spacing--10);
	}
}

@media (--front-page-toc) {
	.wp-block-wi-sonx-fse-front-page-toc {
		width: auto;
	}

	.wp-block-wi-sonx-fse-front-page-toc__button {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0.25em;
		background: transparent;
		border: 0;
		color: inherit;
		font-size: 2.5rem;
		width: 100%;
		height: 3rem;
		cursor: pointer;

		& svg {
			fill: currentcolor;
			width: 2.5rem;
		}

		&[aria-expanded="true"] {
			display: none;
		}
	}

	.wp-block-wi-sonx-fse-front-page-toc__list {
		gap: var(--wp--preset--spacing--20);

		&[hidden] {
			display: none;
		}
	}

	.wp-block-wi-sonx-fse-front-page-toc__item {
		width: 100%;

		&:nth-child(odd),
		&:nth-child(even) {
			align-self: stretch;
		}
	}

	.wp-block-wi-sonx-fse-front-page-toc__label {
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		bottom: 0;
		left: calc(100% - 1px);
		height: auto;
		width: auto;
		padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50)
			var(--wp--preset--spacing--40) 0;
		margin: 0;
		background-color: var(--wi--front-page-toc--bg-hover);
		text-transform: uppercase;
		white-space: nowrap;
		clip: auto;
		clip-path: inset(0 100% 0 0);
		transition: clip-path var(--wp--custom--transition--duration) linear
				0s;
	}

	.wp-block-wi-sonx-fse-front-page-toc__link {
		box-sizing: border-box;
		position: relative;
		width: 3.5rem;
		height: 3.5rem;
		padding: var(--wp--preset--spacing--40);
		line-height: 1.2;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;

		&::before {
			position: relative;
			height: 100%;
		}

		&::after {
			height: 100%;
			width: 100%;
			inset: 0;
			margin: 0;
			border-radius: 50%;
			transition:
				transform var(--wp--custom--transition--duration)
					var(--wp--custom--transition--timing-function)
					calc(2 * var(--wp--custom--transition--duration)),
				opacity var(--wp--custom--transition--duration)
					var(--wp--custom--transition--timing-function)
					calc(2 * var(--wp--custom--transition--duration)),
				border-radius var(--wp--custom--transition--duration) linear var(--wp--custom--transition--duration);
		}

		&.is-active,
		&:hover {
			&::before {
				transform: none;
			}

			&::after {
				border-radius: 50% 0 0 50%;
				transition-delay: 0s, 0s,
					var(--wp--custom--transition--duration);
			}

			.wp-block-wi-sonx-fse-front-page-toc__label {
				clip-path: inset(0 0 0 0);
				transition-delay: calc(
					2 * var(--wp--custom--transition--duration)
				);
			}
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.wp-block-wi-sonx-fse-front-page-toc__link::after,
	.wp-block-wi-sonx-fse-front-page-toc__link:hover::after,
	.wp-block-wi-sonx-fse-front-page-toc__label,
	.wp-block-wi-sonx-fse-front-page-toc__link:hover .wp-block-wi-sonx-fse-front-page-toc__label {
		transition-duration: 0s, 0s, 0s;
		transition-delay: 0s, 0s, 0s;
	}
}
