<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"},"metadata":{"name":"Sticky Header"}, "className": "wi-default-header"} -->
<header class="wp-block-group wi-default-header">
	<!-- wp:template-part {"slug":"header-default","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
	<div
		class="wp-block-group"
	>
		<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"className": "wi-heading-404"} -->
		<h1
			class="wp-block-heading wi-heading-404 has-text-align-center"
			style="font-style: normal; font-weight: 400"
		>
			<strong>4</strong><span>0</span><strong>4</strong>
		</h1>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"wi-sonx-fse/loop-no-results-default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default", "tagName":"footer", "className": "wi-default-footer"} /-->
