<!-- wp:group {"tagName":"header","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"},"metadata":{"name":"Home Header"},"className":"wi-home-header"} -->
<header class="wp-block-group wi-home-header">
	<!-- wp:template-part {"slug":"header-home","tagName":"div"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"wi-home-main"} -->
<main class="wp-block-group wi-home-main">
	<!-- wp:post-content {"className":"wi-home-main-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-home","tagName":"footer","className":"wi-home-footer"} /-->
