<!-- wp:group {"tagName":"header","layout":{"type":"default"},"metadata":{"name":"Home Sticky Header"},"backgroundColor":"base","className": "wi-front-page-header"} -->
<header class="wp-block-group wi-front-page-header has-base-background-color has-background">
	<!-- wp:template-part {"slug":"header-front-page","tagName":"div","className":"wi-front-page-header__content"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"wi-front-page-main","metadata":{"name":"Home Main"}} -->
<main class="wp-block-group wi-front-page-main">
	<!-- wp:post-content {"className":"wi-front-page-main__content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-front-page","theme":"wi-sonx-fse","tagName":"footer","className":"wi-front-page-footer"} /-->
