.wi-front-page-header {
	height: calc(var(--wp--custom--front-page--mobile-header-height) + 1px);
	border-bottom: 1px solid var(--wp--custom--color--gray-300);
}

.wi-front-page-header-content {
	height: 100%;
}

@media (--huge-viewport) {

	.wi-front-page-header {
		position: fixed;

		/* top is set by WP using Position sticky */

		left: 0;
		bottom: 0;
		width: calc(var(--wp--custom--front-page--full-header-width) + 1px);
		height: auto;
		border-right: 1px solid var(--wp--custom--color--gray-300);
		border-bottom: 0;
	}
}
