.wi-front-page-main {
	height: calc(100vh - var(--wp-admin--admin-bar--height, 0px) - var(--wp--custom--front-page--mobile-header-height, 0px) - 1px);
}

.wi-front-page-main-content {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	height: 100%;
	overflow-y: auto;
}

@media (--full-viewport) {

	.wi-front-page-main {
		height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
	}
}
