.wi-front-page-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
	height: 100%;
	padding: var(--wp--preset--spacing--30);
	gap: var(--wp--preset--spacing--30);
}

.wi-front-page-menu-nav {
	height: 100%;
	gap: var(--wp--preset--spacing--10);

	.wp-block-navigation-item {

		&:nth-child(odd) {
			align-self: flex-start;
		}

		&:nth-child(even) {
			align-self: flex-end;
		}
	}
}

@media (--full-viewport) {

	.wi-front-page-menu {
		flex-direction: column;
		align-items: center;
		padding: var(--wp--preset--spacing--50);
	}

	.wi-front-page-menu-nav {
		--wi--front-page-menu-nav--bg-active: var(--wp--preset--color--primary);
		--wi--front-page-menu-nav--bg-hover: var(--wp--custom--color--gray-500);

		height: auto;
		gap: var(--wp--preset--spacing--30);

		.wp-block-navigation-item {
			width: 100%;

			&:nth-child(odd),
			&:nth-child(even) {
				align-self: stretch;
			}
		}

		/* stylelint-disable-next-line selector-class-pattern */
		.wp-block-navigation-item__content {
			position: relative;
			display: block;
			width: 100%;
			padding: var(--wp--preset--spacing--40);
			border-radius: var(--wp--preset--spacing--50);
			text-align: center;

			&[title] {
				border-radius: var(--wp--preset--spacing--50) 0 0 var(--wp--preset--spacing--50);
			}

			&.is-active {
				background-color: var(--wi--front-page-menu-nav--bg-active);
			}

			&:hover {
				background-color: var(--wi--front-page-menu-nav--bg-hover);
			}

			&.is-active,
			&:hover {
				color: var(--wp--preset--color--contrast);

				&[title]::after {
					content: attr(title);
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: calc(100% - var(--wp--preset--spacing--40));
					padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50) var(--wp--preset--spacing--40) 0;
					background-color: inherit;
					text-transform: uppercase;
				}
			}
		}
	}
}
