@media (--below-small) {
	.wp-block-navigation.wp-block-navigation {
		--navigation-layout-justification-setting: stretch;
		--navigation-layout-justify: stretch;
		flex-grow: 0;
	}

	.wp-block-navigation__responsive-container-close {
		padding: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
		padding-inline: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation-item {
		gap: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation__submenu-container {
		font-size: var(--wp--preset--font-size--large);

		.wp-block-navigation__submenu-container {
			font-size: var(--wp--preset--font-size--medium);
		}
	}

	.wp-block-navigation .wp-block-buttons {
		font-size: var(--wp--preset--font-size--medium);
	}
}
