.wp-block-navigation-item__content {
	position: relative;
	padding-block: var(--wp--preset--spacing--30);
	transition: color var(--wp--custom--transition--duration)
		var(--wp--custom--transition--timing-function);

	&.wp-block-navigation-item__content:hover {
		color: var(--wp--preset--color--accent);
	}

	&::after {
		content: "";
		position: absolute;
		inset: auto 0 calc(var(--wp--preset--spacing--30) - var(--wp--preset--spacing--10));
		z-index: 0;
		height: var(--wp--preset--spacing--10);
		background-color: currentcolor;
		transform-origin: 50% 50%;
		transform: scale(0);
		opacity: 0;
		transition:
			transform var(--wp--custom--transition--duration)
				var(--wp--custom--transition--timing-function),
			opacity var(--wp--custom--transition--duration)
				var(--wp--custom--transition--timing-function);
	}

	&:hover::after {
		transform: scale(1);
		opacity: 1;
	}
}

.wp-block-navigation-item__label {
	position: relative;
	z-index: 1;
}

@media (--below-small) {
	.wp-block-navigation.wp-block-navigation {
		--navigation-layout-justification-setting: stretch;
		--navigation-layout-justify: stretch;
		flex-grow: 0;
	}

	.wp-block-navigation__responsive-container-close {
		padding: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation__responsive-container.is-menu-open
		.wp-block-navigation__responsive-container-content
		.wp-block-navigation-item__content {
		padding-inline: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation-item {
		gap: var(--wp--preset--spacing--30);
	}

	.wp-block-navigation__submenu-container {
		font-size: var(--wp--preset--font-size--large);

		.wp-block-navigation__submenu-container {
			font-size: var(--wp--preset--font-size--medium);
		}
	}

	.wp-block-navigation .wp-block-buttons {
		font-size: var(--wp--preset--font-size--medium);
	}
}
