.wp-block-query-pagination {
	gap: var(--wp--preset--spacing--20);

	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--wp--preset--spacing--20);
		padding: var(--wp--preset--spacing--40);
		margin: 0;
		text-decoration: none;
		height: 1em;
		border-radius: 9999px;
		border: 1px solid currentcolor;
		color: inherit;
		background: var(--wp--preset--color--base-2);
		transform-origin: 50% 50%;
		transform: scale(1);
		transition: transform .1s ease;

		&[aria-label] {
			width: 1em;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	.wp-block-query-pagination-previous-arrow,
	.wp-block-query-pagination-next-arrow {
		margin: 0;
	}
}
